6th Semester/Distributed Programming/WCF/Client/Client/Client/Service References/ServiceLibrary/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceLibrary" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Server" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceLibrary_GetBorrowedBooksByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBorrowedBooksByUser" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_GetBorrowedBooksByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBorrowedBooksByUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_GetBookInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookInfo" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_GetBookInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_BorrowBook_InputMessage">
    <wsdl:part name="parameters" element="tns:BorrowBook" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_BorrowBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:BorrowBookResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_addUser_InputMessage">
    <wsdl:part name="parameters" element="tns:addUser" />
  </wsdl:message>
  <wsdl:message name="IServiceLibrary_addUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:addUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceLibrary">
    <wsdl:operation name="GetBorrowedBooksByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLibrary/GetBorrowedBooksByUser" message="tns:IServiceLibrary_GetBorrowedBooksByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLibrary/GetBorrowedBooksByUserResponse" message="tns:IServiceLibrary_GetBorrowedBooksByUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBookInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLibrary/GetBookInfo" message="tns:IServiceLibrary_GetBookInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLibrary/GetBookInfoResponse" message="tns:IServiceLibrary_GetBookInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BorrowBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLibrary/BorrowBook" message="tns:IServiceLibrary_BorrowBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLibrary/BorrowBookResponse" message="tns:IServiceLibrary_BorrowBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLibrary/addUser" message="tns:IServiceLibrary_addUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLibrary/addUserResponse" message="tns:IServiceLibrary_addUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceLibrary" type="tns:IServiceLibrary">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBorrowedBooksByUser">
      <soap:operation soapAction="http://tempuri.org/IServiceLibrary/GetBorrowedBooksByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookInfo">
      <soap:operation soapAction="http://tempuri.org/IServiceLibrary/GetBookInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BorrowBook">
      <soap:operation soapAction="http://tempuri.org/IServiceLibrary/BorrowBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <soap:operation soapAction="http://tempuri.org/IServiceLibrary/addUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceLibrary">
    <wsdl:port name="BasicHttpBinding_IServiceLibrary" binding="tns:BasicHttpBinding_IServiceLibrary">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Server/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>